
@{
    ViewData["Title"] = "Appraised";
}

<!DOCTYPE HTML>

<html>
<head>
    <title>Your Text has been A P P R A I S E D</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>
<body>
<header>
    <h2>Textbook Appraisal</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a class="active" href="~/Home/Index">Home</a></li>
            <li><a href="~/Home/Appraise">Appraise</a></li>
        </ul>
    </nav>


    <h1>Textbook Appraisal</h1>
    <article>
        <p>"========================================="</p>
        <p>@ViewData["Message"]</p>
        <p>"========================================="</p>
        <p> @ViewData["Appraisal"]</p>
        <p>"========================================="</p>
    </article>
</section>

<footer>
    <p>Footer</p>
</footer>
</body>
</html>

