
@{
    ViewData["Title"] = "Bad";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Something Went Wrong!</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>
<body>
    <header>
        <h2>There Was A Bad Input!</h2>
    </header>

    <section>
        <nav>
            <ul>
                <li><a class="active" href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/Appraise">Appraise</a></li>
                <li><a href="~/Home/ViewAppraisals">View Appraisals</a></li>
            </ul>
        </nav>
        <h1>Something Went Wrong</h1>
        <article>
            <p>Please go back to the Appraise Page and try again.</p>
            <br/>
            <p>Make sure that your version number and price are entered as numeric values!</p>
        </article>
    </section>

    <footer>
        <p>Students4CheapTextbooks</p>
    </footer>
</body>
</html>
