@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>

<html>
<head>
    <title>Students4CheapTexts</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>
    <h1>Students4CheapTextbooks Home</h1>

    <ul>
        <li><a class="active" href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Appraise">Appraise</a></li>
    </ul>

    <div class="center">
        <h3>About</h3>
        <h4>
            Students4CheapTextbooks is a student group focused on bringing you the cheapest possible price for a textbook. Did you know,
            that the average student spends $600.00(!) on textbooks per semester? Our focus is to try and bring that down to $200 or $300.
            If you have a used textbook to sell, click on the appraise button in the nav bar above and we will get you a price!!
        </h4>
    </div>
</body>
</html>
